.buttonsContainer {
    width: 600px;
    display: flex;
    justify-content: space-between;
}

.responseContainer {
    display: flex;
    align-items: center;

}

.imageContainer {
}

.image {
}

.textContainer{
}

.code {
}

.text {
}
.info {
}