.input:focus {
}

.input {
    border-color: whitesmoke;
}

.inputWrapper {
}

.superInput {
    background-color: white;
    outline: none;
}

.errorInput {
    border: 1px solid red;
}

.errorInput:focus {
    border: none;
}

.error {
    color: red;
}
