.item {
}

.item:last-of-type {
}

.users {
    width: 300px;
    height: 200px;
}

.buttonsContainer {
    margin: 0 auto;
    width: 400px;
    display: flex;
    justify-content: space-around;
}

.container {

}

.thead {

}

.nameCol {
}

.ageCol {

}